@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Menu */

header {
    display: flex;
    justify-content: space-around;
    /* background-color: #4e4e4e; */
}

.logo {
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    /* color: azure; */
}

.logo img {
    width: 70px;
}

.menu {

    font-family: "Poppins", sans-serif;

}

.menu ul {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.menu ul li {
    margin-left: 10px;
    /* text-decoration: none;
    list-style: none; */
}

/* Tela inicial */

main {
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo {
    font-family: "Poppins", sans-serif;
}

.imagem-titulo {
    background-color: orange;
    border-radius: 200px;
}

.imagem-titulo img{
    width: 400px;
}













.caixa1 {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.caixa2 {
    background-color: red;
    width: 200px;
    height: 200px;
}

.caixa3 {
    background-color: green;
    width: 200px;
    height: 200px;
}

.exemplo-caixa {
    height: 90vh;
   display: flex;
   flex-direction: row;
   justify-content: space-around;

}