
.principal-sobre img {
    width: 35rem;
}

.principal-sobre {
    background-color: #131f1d;
    display: flex;
    justify-content: space-between;
}

.texto-principal {
    padding: 1rem;
}

.texto-principal {
    color: white;
    /* text-align: ; */
}

.texto-principal h2 {
    margin: 1rem 0 1rem 1rem;
}


/* Produtos */

.produto-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}