@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* 
FUNDO 1 - 151828
FUNDO 2 - 1B1F34
BODY - 959DCC
BRAND - FFAB76
BRANCO #fff
*/

body {
    background-color: #161a33;
}

header {
    background-color: #1b1f3471;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

header li, header a, header p {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

header p {
    font-size: 2.5rem;
}

header ul {
    display: flex;
}

header li {
    margin-left: 1rem;
    font-size: 1.5rem;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: orange;
}

/* Principal */

.principal {
    height: 90vh;
    background: url('imagens/foto-principal.jpg');
    padding: 2rem;
    display: flex;
    align-items: center;
}

.texto-principal {
    width: 55%;
    color: #fff;
}

.texto-principal h1 {
    font-size: 4rem;
}

.texto-principal p {
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.texto-principal button {
    font-size: 1.3rem;
    background-color: orange;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 7px;
    margin-top: 0.5rem;
}

.texto-principal button:hover {
    background-color: rgb(218, 141, 0);
    cursor: pointer;
    color: gray;
}

/* Sobre  */

#sobre {
    margin-top: 30px;
    margin-bottom: 30x;
    padding: 2rem;
    background-color: #161a33;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.imagem-sobre img {
    width: 400px;
}

.texto-sobre h2{
    color: orange;
    font-size: 36px;
}

.texto-sobre h3{
    margin-top: 10px;
    color: white;
    font-size: 46px;
}

.texto-sobre p{
    margin-top: 15px;
    font-size: 20px;
    color: rgb(228, 228, 228);
    width: 400px;
    text-align: justify;
}

.texto-sobre img {
    width: 450px;
}

/* Preço  */

#preco {
    background-color: #e7e9eb;
    padding-top: 45px;
    padding-bottom: 35px;
}

.card-precos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    width: 250px;
    padding: 2.5rem;
    margin: 12px;
    border-radius: 5px;
    text-align: center;
    /* transition: 0.3s; */
    cursor: pointer;
}


.card div h2{
    font-size: 35px;
    text-align: center;
}

.card div h3{
    margin-top: 10px;
    font-size: 25px;
    /* text-align: center; */
    color: #3f3f3f;
}

.card p {
    margin-bottom: 1rem;
    font-size: 30px;
}

.card button {
    border: none;
    width: 100%;
    padding: 12px 35px;
    margin-top: 1rem;
    background-color: orange;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background-color: rgb(255, 181, 42);
}

.price {
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 15px;
}

/* Equipe */

#equipe {
    background-color: #00416d;
    /* margin-top: 60px; */
    padding-top: 120px;
    padding-bottom: 60px;
}

.texto-equipe {
    margin: auto;
    text-align: center;
    width: 70vw;
}

.texto-equipe h2 {
    color: orange;
    font-size: 36px;
}

.texto-equipe h3 {
    margin-top: 10px;
    color: white;
    font-size: 46px;
}

.texto-equipe p {
    margin-top: 15px;
    font-size: 20px;
    color: rgb(228, 228, 228);
}

.membros-equipe {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.membros-equipe img {
    width: 300px;
}

.membros-equipe p {
    width: 300px;
}


.membro {
    display: flex;
    flex-direction: column;
}

.membro h3{
    color: white;
    font-size: 40px;
}

.membro p {
    margin-top: 15px;
    font-size: 20px;
    color: rgb(228, 228, 228);
}

.icones {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
  
/* Depoimentos */

.depoimentos {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-depoimento {
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 120px;
}

.card-depoimento img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
}

.card-depoimento h3{
    font-size: 35px;
}

.titulo-depoimento {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Endereço */

#endereco h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: orange;
    font-size: 36px;
    text-align: center;
}

.titulo-endereco {
    display: flex;
    justify-content: space-around;
}

.titulo-endereco p {
    color: white;
}

.detalhe-endereco {
    display: flex;
}